* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html, body {
    height: 100%;
    width: 100%;
}
img{
    height: 400px;
    position: absolute;
    animation-name: KungFu;
    animation-duration: 5s;
    animation-delay: 2s;

}
@keyframes KungFu{
/*{
    from{
        left: 0;
        top: 0;
        rotate: 0;
    }
    to{
        left: 70%;
        top: 70%;
        rotate: 360deg;
    }  */
    0%{
        left: 0;
        top: 0;
        rotate: 0;
    }
    50%{
        left: 70%;
        top: 0%;
        rotate: 360deg;
    }
    100%{
        left: 70%;
        top: 50%;
        rotate: 369deg;
}
}