*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html, body {
    height: 200%;
    width: 200%;
}
body{
    background-color: black;
    padding: 5vw;
}
button{
    padding: 20px 40px;
    background-color: transparent;
    border: 2px solid cyan;
    color: cyan;
    font-weight: 600;
    transition: all linear 0.5s;
    position: relative;
    overflow: hidden;
}
button::after{
    content: "";
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: cyan;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: linear 0.5s;
    z-index: -1;
}
button:hover::after{
    transform: translate(-50%, -50%) scale(3);
}
button:hover{
    color: black;
}
