/* Sudo Element in css is used to style the specific part of the element. It is used to add content before and after the element. */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html, body {
    height: 100%;
    width: 100%;
}
h1{
    font-size: 100px;
    color:cadetblue;
}
h1::before{
    content: "Ram Ram ";
    color: tomato;
    font-size: 50px;
}
h1::after{
    content:" 😎";

}